html {
  background-color: grey;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

#page {
  display: flex;
  flex-direction: row;
  margin: 0px 100px 0px 100px;
  background-color: white;
}

div#side-bar {
  margin: 0;
}

#side-bar p {
  background-image: url("../assets/chewy.jpg");
  height: 44em;
  background-repeat: no-repeat;
  width: 30em;
  background-position: center;
}
