html {
  background-color: grey;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

#page {
  display: flex;
  flex-direction: row;
  margin: 0px 100px 0px 100px;
  background-color: white;
}

div#side-bar {
  margin: 0;
}

#side-bar {
  background-image: url("../assets/chewy.jpg");
  height: 44em;
  background-repeat: no-repeat;
  width: 30em;
  background-position: center;
  display: flex;
}

#side-bar p {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  margin-right: auto;
  color: gray;
  font-size: 9px;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
